@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 300;
    src: local("Open Sans Light Italic"),local(OpenSansLight-Italic),url(//fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxrXcjzEax2LfQAlK8DdMzhA.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxh_xHqYgAV9Bl_ZQbYUxnQU.woff) format("woff2"),url(//fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxh_xHqYgAV9Bl_ZQbYUxnQU.woff) format("woff")
}
@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 400;
    src: local("Open Sans Italic"),local(OpenSans-Italic),url(//fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBmfQcKutQXcIrRfyR5jdjY8.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBobN6UDyHWBl620a-IRfuBk.woff) format("woff2"),url(//fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBobN6UDyHWBl620a-IRfuBk.woff) format("woff")
}
@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 600;
    src: local("Open Sans Semibold Italic"),local(OpenSans-SemiboldItalic),url(//fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxo8mkAiYpFywqG2RvpzBnTU.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxn5HxGBcBvicCpTp6spHfNo.woff) format("woff2"),url(//fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxn5HxGBcBvicCpTp6spHfNo.woff) format("woff")
}
@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 700;
    src: local("Open Sans Bold Italic"),local(OpenSans-BoldItalic),url(//fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxrFt29aCHKT7otDW9l62Aag.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxjqR_3kx9_hJXbbyU8S6IN0.woff) format("woff2"),url(//fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxjqR_3kx9_hJXbbyU8S6IN0.woff) format("woff")
}
@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 800;
    src: local("Open Sans Extrabold Italic"),local(OpenSans-ExtraboldItalic),url(//fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxphT2rkLFFMVLymfgfmWVtI.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxkCDe67GEgBv_HnyvHTfdew.woff) format("woff2"),url(//fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxkCDe67GEgBv_HnyvHTfdew.woff) format("woff")
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: local("Open Sans Light"),local(OpenSans-Light),url(//fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXZ2MAKAc2x4R1uOSeegc5U.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format("woff2"),url(//fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format("woff")
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"),local(OpenSans),url(//fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3fY6323mHUZFJMgTvxaG2iE.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format("woff2"),url(//fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format("woff")
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: local("Open Sans Semibold"),local(OpenSans-Semibold),url(//fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSnZ2MAKAc2x4R1uOSeegc5U.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format("woff2"),url(//fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format("woff")
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"),local(OpenSans-Bold),url(//fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzHZ2MAKAc2x4R1uOSeegc5U.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format("woff2"),url(//fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format("woff")
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 800;
    src: local("Open Sans Extrabold"),local(OpenSans-Extrabold),url(//fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hnZ2MAKAc2x4R1uOSeegc5U.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hnhCUOGz7vYGh680lGh-uXM.woff) format("woff2"),url(//fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hnhCUOGz7vYGh680lGh-uXM.woff) format("woff")
}
.clear-fix,
body,
body .wrapper,
.header,
.header-container,
.container-navbar,
.container-navbar ul,
.container-navbar ul li,
.container-navbar ul li a,
.container-navbar ul li a.active,
.fixed-top,
.fixed-top ul li,
.content-top,
.content-middle,
.content-middle-container,
.content-middle-container__left,
.content-middle-container__right,
.content-bottom,
.grid-item,
.img-container,
.img-container img,
.img-container a.zoom-1,
.img-container a.zoom-2 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}
.clear-fix:before,
.clear-fix:after {
    content: ' ';
    display: table
}
.clear-fix:after {
    clear: both
}
.clear-fix {
    zoom: 1
}
body {
    background: rgb(0, 0, 0)
}
body .wrapper {
    font-family: 'Open Sans', sans-serif
}
.header {
    position: fixed;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    z-index: 1000
}
.header-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}
.container-navbar {
    position: relative;
    line-height: 0
}
.container-navbar ul {
    display: inline-block;
    list-style: none
}
.container-navbar ul li {
    font-size: 1.25em;
    line-height: 1.5;
    letter-spacing: 0.1em;
    position: relative;
    display: inline-block;
    float: left;
    list-style: none;
    padding: 3px 50px
}
.container-navbar ul li a {
    text-decoration: none;
    position: relative;
    display: inline-block;
    color: rgb(255, 255, 255)
}
.container-navbar ul li a.active {
    border: 1px solid rgb(255, 255, 255);
    padding: 0 8px 0 10px
}
.fixed-top {
    font-weight: 500;
    text-align: right;
    font-size: 0.8em
}
.fixed-top ul li {
    padding: 2px 30px 3px
}
.content-top {
    width: auto;
    height: 695px;
    background: url('../img/stas-20.jpg') no-repeat center;
    background-size: cover;
    box-shadow: inset 0 -142px 208px 54px rgba(0, 0, 0, 0.86)
}
.content-middle {
    height: 899px;
    background: url('../img/stas-8.jpg') no-repeat center;
    background-size: cover;
    box-shadow: inset 13px 80px 230px 50px rgba(0, 0, 0, 0.86);
    border-top: 1px solid rgb(0, 0, 0)
}
.content-middle-container {
    color: white
}
.content-middle-container__left {
    float: left;
    width: 48%;
    height: 38%;
    color: red
}
.content-middle-container__right {
    float: left;
    width: 48%;
    height: 38%;
    color: red
}
.content-bottom {
    height: 2500px
}
.grid-item {
    width: 24%;
    height: auto;
    float: left
}
.img-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default
}
.img-container img {
    width: 100%;
    height: auto;
    vertical-align: middle;
    position: relative;
    display: block;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear
}
.img-container:hover img {
    -webkit-transform: scale(1.2);
            transform: scale(1.2)
}
.img-container .img-container--link {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    position: absolute;
    overflow: hidden;
    opacity: 0;
    background-color: #090a0a;
    background-color: rgba(9, 10, 10, .4);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out
}
.img-container:hover .img-container--link {
    opacity: 1;
    filter: alpha(opacity=100)
}
.img-container a.zoom-1 {
    display: inline-block;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    font-weight: 400;
    margin: 20px;
    padding: 79px 105px
}
.img-container a.zoom-2 {
    display: inline-block;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    font-weight: 400;
    margin: 20px;
    padding: 221px 105px
}
.img-container:hover a.zoom-1, .img-container:hover a.zoom-2 {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
            transform: scale(1)
}
.img-container a.zoom-1:hover, .img-container a.zoom-2:hover {
    box-shadow: 0 0 5px rgb(255, 255, 255)
}
